*.class
*.log
.bloop
.bsp
.metals
metals.sbt
target
project/project
frontend/build

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ directory
.idea
